/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #000000 !default;
$muted-text-color: #000000 !default;
$primary-color: #8ffebf80 !default;
$border-color: mix(#fff, #000000, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #000000 !default;
$link-color-hover: #60c28a80 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: #60c28a80 !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
